body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container12 {
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
input{
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    font-size: 30px;
}
select{
    margin-left: 50px;
    margin-right: 40px;
    max-width: fit-content;
    width: auto;
    font-size: 30px;
}
h1{
    text-align: center;
}
label {
    margin-bottom: 10px;
    text-align: left;
    margin-bottom: 10px;
}

textarea{
    width: 90%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
select{
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

textarea:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

textarea::placeholder, select::placeholder {
    color: #999;
}

button {
    width: 100%;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    
}

button:hover {
    background-color: #0056b3;
}

.copy-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
}

.copy-button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }